@import "invision_fonts.css";
#invision {
  background: #fff;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.5em;
  font-family: "Open Sans", "open-sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

#invision ol, #invision ul {
  list-style: none;
}

#invision table {
  border-collapse: collapse;
  border-spacing: 0;
}

#invision caption, #invision th, #invision td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

#invision q, #invision blockquote {
  quotes: none;
}
#invision q:before, #invision q:after, #invision blockquote:before, #invision blockquote:after {
  content: "";
  content: none;
}

#invision a img {
  border: none;
}

#invision article, #invision aside, #invision details, #invision figcaption, #invision figure, #invision hgroup, #invision main, #invision menu, #invision nav, #invision section, #invision summary {
  display: block;
}

#invision * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


@font-face {
  font-family: "icomoon";
  src: url("/assets/local-fonts/icomoon/icomoon.eot?-j2rqm5");
  src: url("/assets/local-fonts/icomoon/icomoon.eot?#iefix-j2rqm5") format("embedded-opentype"), url("/assets/local-fonts/icomoon/icomoon.woff?-j2rqm5") format("woff"), url("/assets/local-fonts/icomoon/icomoon.ttf?-j2rqm5") format("truetype"), url("/assets/local-fonts/icomoon/icomoon.svg?-j2rqm5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
 /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#invision p {
  font-size: 18px;
  line-height: 1.8em;
  color: #747c83;
}

#invision a, #invision button, #invision input, #invision textarea, #invision select {
  outline: none;
}

#invision a {
  display: inline-block;
  text-decoration: none;
  color: #ff3366;
}

#invision input, #invision textarea, #invision button {
  -webkit-appearance: none;
  border-radius: 0;
  outline: none;
  resize: none;
  font-family: "Open Sans", "open-sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

#invision strong {
  font-weight: 700;
}

#invision img {
  display: inline-block;
}

#invision iframe {
  position: relative;
  z-index: 15;
}

#invision blockquote.inner {
  font-family: "brandon-grotesque", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  background: top center no-repeat;
  background-image: url('../img/team/quote.png?1452121878');
  padding-top: 60px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #invision blockquote.inner {
    background-image: url('../img/team/quote@2x.png?1452121878');
    background-size: 35px 30px;
  }
}
#invision blockquote.inner p {
  font-size: 22px;
  line-height: 40px;
  color: #ff3366;
  margin-bottom: 10px;
}
#invision blockquote.inner cite {
  font-size: 12px;
  color: #8a959e;
}

#invision h1, #invision h2, #invision h3, #invision h4, #invision h5 {
  font-family: "brandon-grotesque", sans-serif;
}

#invision h1 {
  font: 300 45px/65px "Open Sans", "open-sans", sans-serif;
  margin-bottom: 75px;
  color: #323a45;
}

#invision h2 {
  font: 300 35px/52px "Open Sans", "open-sans", sans-serif;
  color: #323a45;
  margin-bottom: 55px;
}

#invision h3 {
  font: 700 40px/1.5em "brandon-grotesque", sans-serif;
  color: #323a45;
  text-transform: uppercase;
  margin-bottom: 18px;
}

#invision .container {
  background-color: white;
  padding: 80px 0;
  position: relative;
}
#invision .container.alt {
  background-color: #f9f9fa;
}
#invision .container.dark h1, #invision .container.dark h2, #invision .container.dark h3, #invision .container.dark h4, #invision .container.dark h5 {
  color: white;
}
#invision .container.dark-blue {
  background: #323a45;
}
#invision .container.dark-blue h1, #invision .container.dark-blue h2, #invision .container.dark-blue h3, #invision .container.dark-blue h4, #invision .container.dark-blue h5 {
  color: white;
}
#invision .container .inside {
  *zoom: 1;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  clear: both;
}
#invision .container .inside:before, #invision .container .inside:after {
  content: " ";
  display: table;
}
#invision .container .inside:after {
  clear: both;
}
#invision .container .split {
  float: left;
  display: block;
  margin-right: 3.125%;
  width: 48.4375%;
}
#invision .container .split:last-child {
  margin-right: 0;
}


#invision #content {
  background: white;
  position: relative;
}

#invision .modal {
  display: none;
}

#invision .pauseAnim {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

#invision .playAnim {
  animation-play-state: running;
  -webkit-animation-play-state: running;
}

#invision .noTransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

#invision .ico-user {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 24px;
  width: 24px;
  background-image: url('../images/global-s116e8c6936.png');
  background-position: 0 -474px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #invision .ico-user {
    background-image: url('../img/sprites-retina/global-s6dadb11278.png');
    background-position: 0 -363.5px;
    -moz-background-size: 141px auto;
    -o-background-size: 141px auto;
    -webkit-background-size: 141px auto;
    background-size: 141px auto;
  }
}

#invision .ico-email {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 24px;
  width: 24px;
  background-image: url('../images/global-s116e8c6936.png');
  background-position: 0 -386px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #invision .ico-email {
    background-image: url('../img/sprites-retina/global-s6dadb11278.png');
    background-position: 0 -295.5px;
    -moz-background-size: 141px auto;
    -o-background-size: 141px auto;
    -webkit-background-size: 141px auto;
    background-size: 141px auto;
  }
}

#invision .ico-lock {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 24px;
  width: 24px;
  background-image: url('../images/global-s116e8c6936.png');
  background-position: 0 -430px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #invision .ico-lock {
    background-image: url('../img/sprites-retina/global-s6dadb11278.png');
    background-position: 0 -329.5px;
    -moz-background-size: 141px auto;
    -o-background-size: 141px auto;
    -webkit-background-size: 141px auto;
    background-size: 141px auto;
  }
}

#invision .text-left {
  text-align: left;
}

#invision .text-right {
  text-align: right;
}

#invision .text-center {
  text-align: center;
}

#invision .text-justify, #invision .footer-links, #invision .footer-signup ul, #invision .subscribe-content ul.logos, .subscribe-content ul.captions {
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

#invision .inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

#invision .simple-inner {
  padding-top: 74px;
}
#invision .simple-inner #header {
  background: #f9f9fa !important;
  border: none;
  height: auto;
}
#invision .simple-inner #header h2, #invision .simple-inner #header p {
  text-align: center;
  width: auto;
}
#invision .simple-inner #header p {
  margin: 65px 0 0 0;
  color: #b2b4b6;
  text-transform: uppercase;
  font: bold 16px/16px "brandon-grotesque", sans-serif;
}
#invision .simple-inner #header h2 {
  font: 300 45px/1.5em "Open Sans", "open-sans", sans-serif;
  color: #323a45;
  text-transform: none;
  margin: 50px 0 -30px 0;
}
#invision .simple-inner .text {
  text-align: left;
  float: left;
  display: block;
  margin-right: 3.125%;
  width: 65.625%;
  margin-left: 17.1875%;
}
#invision .simple-inner .text:last-child {
  margin-right: 0;
}
#invision .simple-inner .text h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  margin: 87px 0 18px 0;
}
#invision .simple-inner .text p {
  margin: 0 0 25px;
}
#invision .simple-inner .text a {
  color: #2f7bbd;
}
#invision .simple-inner .text a:hover {
  color: #4c94d3;
}
#invision .simple-inner .text ul {
  margin: 0 0 67px;
}
#invision .simple-inner .text ul li {
  font-size: 18px;
  color: #8a959e;
  line-height: 30px;
  margin-bottom: 20px;
}

#invision button {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

#invision p.button.outline a {
  background: none;
  border: solid 1px #fff;
  padding: 19px 39px;
}
#invision p.button.outline a:hover {
  background: #777f86;
  background: rgba(255, 255, 255, 0.3);
}
#invision p.button.blue a, p.button.blue input {
  background: #2f7bbd;
}
#invision p.button.blue a:hover, p.button.blue input:hover {
  background: #3888ce;
}
#invision p.button.white a {
  background: white;
  color: #2f7bbd;
}
#invision p.button.white a:hover {
  background: rgba(255, 255, 255, 0.9);
}
#invision p.button.small a {
  font-size: 13px;
  padding: 12px 25px;
}
#invision p.button a,
#invision p.button input,
#invision p.button button {
  display: inline-block;
  padding: 21px 40px 19px;
  background: #ff3366;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  line-height: 1em;
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
#invision p.button a:hover,
#invision p.button input:hover,
#invision p.button button:hover {
  background: #f42156;
}
#invision p.button input {
  padding: 23px 40px 22px;
}

#invision form {
  display: inline-block;
  margin-bottom: 31px;
}
#invision form p {
  position: relative;
  float: left;
  margin: 0;
}
#invision form input,
#invision form textarea {
  font: 400 18px/1em "Open Sans", "open-sans", sans-serif;
  color: #8a959e;
}
#invision form input.error,
#invision form textarea.error {
  border-color: #ff3366;
  box-shadow: 0 0 0 1px #ff3366;
}
#invision form textarea {
  overflow: auto;
}
#invision form label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  color: #8a959e;
  margin: 16px 0px 0px 16px;
  font-weight: 400;
}
#invision form label.error {
  display: none !important;
}
#invision form input[type=text],
#invision form input[type=search],
#invision form input[type=email],
#invision form input[type=password] {
  background: white;
  width: 232px;
  line-height: 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 18px 15px;
  margin-right: 10px;
  border: 1px solid #d4d7da;
}
#invision form input[type=text].error,
#invision form input[type=search].error,
#invision form input[type=email].error,
#invision form input[type=password].error {
  border-color: #ff3366;
}

#invision .hiddenElement {
  visibility: hidden;
  padding-right: 10px;
}

#invision select {
  width: 405px;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

#invision .input-select-wrapper {
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d4d7da;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  position: relative;
  text-align: left;
  font-weight: normal;
  height: 3.2em;
  line-height: 3.2em;
}
#invision .input-select-wrapper.error {
  border-width: 2px;
  border-color: #ff3366;
}
#invision .input-select-wrapper select {
  height: 3.2em;
}

#invision .input-select-wrapper:before, #invision .input-select-wrapper:after {
  border: solid transparent;
  border-width: 0.3em;
  content: "";
  position: absolute;
  right: 0.8em;
  top: 50%;
  z-index: 1;
}

#invision .input-select-wrapper:before {
  border-top-color: #a4abb1;
  margin-top: 0.2em;
}

#invision .input-select-wrapper:after {
  border-bottom-color: #a4abb1;
  margin-top: -0.6em;
}

#invision .input-select-wrapper > select {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: relative;
  z-index: 1;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: window;
}

#invision .input-select-wrappertext {
  display: inline-block;
  vertical-align: middle;
  padding: 0 1.8em 0 1em;
  width: 100%;
}

#invision .input-select-wrappertext {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 0;
  font-size: inherit;
}

#invision .scroll-nav {
  background: white;
  padding: 20px 0;
  z-index: 99999;
  margin-top: 40px;
}
#invision .scroll-nav.stuck {
  width: 100%;
  position: fixed;
  top: 81px;
  left: 0;
  border-bottom: solid 1px #d0d5d8;
}
#invision .scroll-nav ul {
  display: block;
  text-align: center;
}
#invision .scroll-nav li {
  display: inline-block;
  margin: 0 20px;
}
#invision .scroll-nav a {
  color: #2f7bbd;
  font: 700 15px/1em "brandon-grotesque", sans-serif;
  text-transform: uppercase;
}
#invision .scroll-nav a:hover {
  color: #8a959e;
}

#invision .signup-form-wrapper button,
#invision .hero-signup-wrapper button {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 62px;
  line-height: 62px;
  margin-top: 1px;
}
#invision .signup-form-wrapper p.terms,
#invision .hero-signup-wrapper p.terms {
  font-size: 12px;
}
#invision .signup-form-wrapper p.terms a,
#invision .hero-signup-wrapper p.terms a {
  color: #747c83;
  text-decoration: underline;
}
#invision .signup-form-wrapper p.terms a:hover,
#invision .hero-signup-wrapper p.terms a:hover {
  color: #ff3366;
}

#invision .footer-signup {
  text-align: center;
  padding: 160px 0 145px;
}
#invision .footer-signup h2 {
  font-size: 30px;
}
#invision .footer-signup p i {
  position: absolute;
  top: 18px;
  left: 15px;
}
#invision .footer-signup p label {
  margin-left: 50px;
}
#invision .footer-signup p input[type=text], #invision .footer-signup p input[type=password] {
  width: 280px;
  height: 63px;
  padding-left: 48px;
}
@media (max-width: 1215px) {
  #invision .footer-signup p input[type=text], #invision .footer-signup p input[type=password] {
    width: 270px;
  }
  #invision .footer-signup p button[type=submit] {
    padding: 20px;
  }
}
@media (max-width: 1145px) {
  #invision .footer-signup p input[type=text], #invision .footer-signup p input[type=password] {
    width: 230px;
  }
}
#invision .footer-signup p.terms a:hover {
  color: #fff;
}
#invision .footer-signup p.trust {
  margin-top: 100px;
  color: #8a959e;
  font: 300 italic 22px/1em "Open Sans", "open-sans", sans-serif;
}

#invision body {
  overflow-x: hidden;
}
